//Search for SASS
.search-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .error {
        color: red;
    }

    .search-form {
        width: 450px !important;
    }
}